/* * {
    box-sizing: border-box;
    font-family: ;
} */

/* html {

} */

body {
    margin: 0;
   
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
   
}

/* 

 Dont stretch my Media 
img,
embed,
video,
object {
    max-width: 100%
} */

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-layout>*:not(.full) {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 15px;
}

@media (min-width: 780px) {
    .main-layout>*:not(.full) {
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        padding-inline: 15px;
    }
}

@media (min-width: 1060px) {
    .main-layout>*:not(.full) {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
        padding-inline: 15px;
    }
}

button.btn,
.btn {
    background-color: rgb(8, 86, 65);
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-inline-end: 5px;
    font-size: 0.8em;
}




/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}

a.active {
    text-decoration: overline;
}