.toys-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
}

.toy-view {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 11px;
    padding: 15px;
    height: 300px;
    justify-content: space-between;
   
    
   


}

.preview-img {
    height: 150px;
    
}

.preview-img img {
    object-fit: contain;
}

.out-stock {
    color: $clr4;
    font-weight: bold;
}
